<div class="search-sidebar" ng-controller="PostBySearchController">
    <h4>
        Search
    </h4>
    <form id="form-search" ng-submit="searchPosts(search)">
        <input type="search" class="form-control" ng-model="search" placeholder="Type your search and hit enter"/>
    </form>
</div>

<div class="well about-sidebar">
    <h4>
        About
    </h4>
    Quisque tortor sem, facilisis at aliquam et, ultrices quis felis. Sed tincidunt erat at turpis auctor, vitae hendrerit nunc mollis. Nam consequat suscipit porttitor.
</div>

<div class="categories-sidebar">
    <h4>
        Categories
    </h4>
    <div class="list-group">
        <a ng-repeat="category in categories" href="#category/{{category}}" class="list-group-item list-group-item-custom" >{{category}}</a>
    </div>
</div>

<div class="social-sidebar">
    <h4>
        Look
    </h4>
    <div class="list-group list-group-custom">
        <a target="_blank" ng-repeat="profile in social" href="{{profile.url}}" class="list-group-item list-group-item-custom" >{{profile.title}}</a>
    </div>
</div>
