<div class="search-sidebar">
    <h4>
        {{constants.search}}
    </h4>
    <form id="form-search" ng-submit="searchPosts(search)">
        <input type="search" class="form-control" ng-model="search" placeholder="{{constants.searchPlaceholder}}"/>
    </form>
</div>

<div class="well about-sidebar">
    <h4>
        About me
    </h4>
    Hi, I am PhoenixJS. I can organize your markdown or html posts and show with simple interface.
    You can create themes for me using HTML and CSS languages and extend me with AngularJS. <a href="#/about">Read more about me and my creator</a>.
</div>

<div class="categories-sidebar">
    <h4>
        Categories
    </h4>
    <div class="list-group">
        <a ng-repeat="category in categories" href="#category/{{category}}" class="list-group-item list-group-item-custom" >{{category}}</a>
    </div>
</div>

<div class="social-sidebar">
    <h4>
        Look
    </h4>
    <div class="list-group list-group-custom">
        <a target="_blank" ng-repeat="profile in social" href="{{profile.url}}" class="list-group-item list-group-item-custom" >{{profile.title}}</a>
    </div>
</div>
