
<input id="fieldName" ng-model="parentScope.discipline.code" type="hidden" class="form-control square" placeholder="Ex: Programação" required>

<div class="form-group">
    <label for="fieldName">Nome da Disciplina</label>
    <input id="fieldName" ng-model="parentScope.discipline.name" type="text" class="form-control square" placeholder="Ex: Programação" required>
</div>

<div class="form-group">
    <label for="fieldName">Carga Horária <small class="text-danger">&nbsp(Somente números)</small></label>
    <input id="fieldName" ng-model="parentScope.discipline.workload"  type="number" class="form-control square" placeholder="Ex: 40" required>
</div>
