<style>


body{
    background:gray;
}
div.loginContainer{
    width: 100%;
    max-width: 480px;
    margin: 20px auto 0px auto;
    background: #eee;
    padding:20px;
    border-radius:4px;

}
#email{
    border-radius:6px 6px 0 0;
    border-bottom: none !important;

}
#email:focus{
    border-bottom: none !important;
}
#password{
    border-radius:0 0 6px 6px;

}
.form-control{
    box-shadow: none;
    /*height:68px;*/

}
.form-control:focus{
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
    color:#337ab7;
}
</style>

<div class="loginContainer">
    <form class="form-signin" role="form" ng-submit="login()" ng-init="onTransaction = false">

      <h2 class="form-signin-heading">Smartschool</h2>



      <div id="loginAlert" class="alert alert-{{responseDataLogin.status}} alert-dismissible" role="alert"  ng-show="onResponse && !onTransaction ">
          <button type="button" class="close" data-dismiss="loginAlert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span>{{responseDataLogin.message}}</span>
        </div>

      <label for="email" class="sr-only">Email address</label>
      <input id="email" type="text" ng-model="formData.email" class="form-control input-lg" placeholder="Email address" required autofocus ng-init="formData.email = 'admin'" ng-disabled="onTransaction">

      <label for="password" class="sr-only">Password</label>
      <input id="password" type="password" ng-model="formData.password" class="form-control input-lg" placeholder="Password" required ng-init="formData.password = '123'" ng-disabled="onTransaction">

      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="onTransaction">Sign in</button>
    </form>
</div>
