body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}
a{
    color:#b42224;
}
a:hover{
    color:#651314;
}
.header{
    padding-bottom:48px;
}
.sub-header{
    padding:0 0 40px 0;
}
.site-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.site-description {
    font-size: 20px;
    color: #999;
}
.masthead {
    background-color: #a92b2d;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.masthead-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #ebcdce;
}
.masthead-nav-item:hover,
.masthead-nav-item:focus {
    color: #fff;
    text-decoration: none;
}
.masthead-nav .active {
    color: #fff;
}
.masthead-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

.container-fluid{
  max-width:980px;
}
.post-content{
    font-size: 18px;
    line-height: 1.5;
}
.post-meta,
.post-categories{
    color:#999;
}
a.list-group-item-custom{
    border:none;
    padding: 5px 15px;
    color:#b42224;
}
a.list-group-item-custom:hover{
    border:none;
    padding: 5px 15px;
    color:#651314;
    background:transparent;
    text-decoration:underline;
}
.list-group-custom{
    margin-bottom:24px;
}
.footer{
    margin-top:24px;
}
input[type=search]{
    border-radius:0px;

}
input[type=search]:focus{
    border:1px solid #b02b30;
    box-shadow:none;
}
menu{
    margin:0;
    padding:0;
}
section img,
.featured-image{
    max-width:100%;
    width:300px;
}
.footer{
    background:#f4f4f4;
    padding:24px 0;
}
.text-center{
    text-align:center;
}
