<div id="{{handler}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="{{modalDismissible != undefined && modalDismissible ? 'true' : 'static' }}" data-keyboard="{{modalDismissible != undefined && modalDismissible ? 'true' : 'false'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-show="{{modalDismissible}}">&times;</button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <!-- <div class="modal-body" ng-bind-html="modalBody">

            </div> -->
            <div class="modal-body" ng-include="modalBody">
            </div>
            <div class="modal-body" ng-show="modalBodyHtml != undefined">
                <h4>{{modalBodyHtml}}</h4>
            </div>
            <div class="modal-footer">

                <p class="text-left">{{modalFooter}}</p>

                <!-- <label style="margin-right:10px;" ng-show="showSaveOptions">
                    <input type="checkbox" ng-model="parentScope.saveAndNew"> Salvar e novo
                </label> -->

                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-show="secondaryButtonText">{{secondaryButtonText}}</button>
                <button type="button" class="btn btn-primary btn-{{primaryButtonContext}}" data-ng-click="onPrimaryButtonClick(); $event.stopPropagation()" ng-disabled="parentScope.onTransaction" ng-show="primaryButtonText">{{primaryButtonText}}</button>

            </div>
        </div>
    </div>
</div>
