<html ng-app="SmartschoolApp" ng-controller="IndexController">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta name="description" content="" />
  <meta name="author" content="Rondy Mesquita" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  <!-- Styles -->
  <link  href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link  href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link  href="../../../bower_components/toastr/toastr.css" rel="stylesheet" type="text/css">
  <link  href="../../../bower_components/ng-table/ng-table.css" rel="stylesheet" type="text/css">
  <link  href="../../../assets/css/custom.css" rel="stylesheet" type="text/css">


  <!-- Libraries -->
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../../bower_components/angular/angular.js"></script>
  <script src="../../../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../../../bower_components/angular-route/angular-route.js"></script>
  <script src="../../../bower_components/ng-table/ng-table.js"></script>
  <script src="../../../bower_components/toastr/toastr.min.js"></script>

  <!-- External Libraries -->
  <script src="../../../assets/js/jquery.cookie.js"></script>

  <!-- Behavior -->
  <script src="../../app.module.js"></script>
  <script src="../../app.routes.js"></script>
  <script src="../index/indexController.js"></script>
  <script src="../post/postController.js"></script>
  <script src="../login/loginController.js"></script>

  <script src="../discipline/disciplineService.js"></script>
  <script src="../discipline/disciplineController.js"></script>


  <!-- Shared -->
  <script src="../../shared/constants.js"></script>
  <script src="../../shared/config.js"></script>
  <script src="../../shared/http-client.js"></script>
  <script src="../../shared/toastFactory.js"></script>
  <script src="../../shared/header/appHeaderDirective.js"></script>
  <script src="../../shared/footer/appFooterDirective.js"></script>
  <script src="../../shared/modal/modalDirective.js"></script>

</head>
<body>

    <div ng-view>
    </div>

</body>
</html>
